<<template>
    <div>
        <el-main>
            <el-tabs v-model="activeName" @tab-click="handleClick">


                <el-tab-pane label="Pregunta 1" name="first">
                    <el-divider></el-divider>

                    <el-radio-group v-model="pregunta1.acepto">
                        <el-radio :label="1">Aceptó 1</el-radio>
                        <el-radio :label="0">Aceptó 0</el-radio>
                    </el-radio-group>

                    <el-button icon="el-icon-search" @click.prevent="preguntaUno" v-loading.fullscreen.lock="fullscreenLoading" circle>
                    </el-button>

                    <el-divider></el-divider>

                    <el-table :data="pregunta1.result" style="width: 100%">
                        <el-table-column prop="partidas_count" label="Partidas" width="180">
                        </el-table-column>
                        <el-table-column prop="Nombre" label="Nombre" width="180">
                        </el-table-column>
                        <el-table-column prop="DNI" label="DNI" width="180">
                        </el-table-column>
                        <el-table-column prop="fechaRegistro" label="Fecha Registro" width="200">
                        </el-table-column>
                    </el-table>
                </el-tab-pane>


                <el-tab-pane label="Pregunta 2" name="second">
                    <el-divider></el-divider>

                    <el-row>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-date-picker
                                    v-model="pregunta2.fechaInicio"
                                    type="date"
                                    value-format="yyyy-MM-dd"
                                    format="dd/MM/yyyy"
                                    placeholder="Seleccione una Fecha Inicio">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple-light">
                                <el-date-picker
                                    v-model="pregunta2.fechaFin"
                                    type="date"
                                    value-format="yyyy-MM-dd"
                                    format="dd/MM/yyyy"
                                    placeholder="Seleccione una Fecha Fin">
                                </el-date-picker>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-input type="text" placeholder="Please input" v-model="pregunta2.letra" maxlength="1" show-word-limit></el-input>
                            </div>
                        </el-col>
                    </el-row>
                    <el-button icon="el-icon-search" @click.prevent="preguntaDos" v-loading.fullscreen.lock="fullscreenLoading" circle>
                    </el-button>

                    <el-divider></el-divider>

                    Porcentaje <el-tag> {{ pregunta2.percent }} % </el-tag>

                    <el-divider></el-divider>

                    <el-tag> Usuarios con letra "{{ pregunta2.letra }}" </el-tag>
                    <el-table :data="pregunta2.usuarios" style="width: 100%">
                        <el-table-column prop="Nombre" label="Nombre" width="180">
                        </el-table-column>
                        <el-table-column prop="DNI" label="DNI" width="180">
                        </el-table-column>
                        <el-table-column prop="fechaRegistro" label="Fecha Registro" width="200">
                        </el-table-column>
                    </el-table>
                </el-tab-pane>


                <el-tab-pane label="Pregunta 3" name="third">
                    <el-divider></el-divider>

                    <el-select v-model="pregunta3.disfraz" filterable placeholder="Seleccione un codigo disfraz">
                        <el-option
                        v-for="item in pregunta3.disfraces"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                        </el-option>
                    </el-select>

                    <el-button icon="el-icon-search" @click.prevent="preguntaTres" v-loading.fullscreen.lock="fullscreenLoading" circle>
                    </el-button>

                    <el-divider></el-divider>

                    <el-table :data="pregunta3.usuarios" style="width: 100%">
                        <el-table-column prop="ratingSum" label="Puntaje" width="180">
                        </el-table-column>
                        <el-table-column prop="Nombre" label="Nombre" width="180">
                        </el-table-column>
                        <el-table-column prop="DNI" label="DNI" width="180">
                        </el-table-column>
                        <el-table-column prop="fechaRegistro" label="Fecha Registro" width="200">
                        </el-table-column>
                    </el-table>

                    <el-divider></el-divider>
                </el-tab-pane>


                <el-tab-pane label="Pregunta 4" name="fourth">
                    <el-divider></el-divider>

                    <el-table :data="pregunta4.usuarios" style="width: 100%">
                        <el-table-column prop="difDates" label="Tiempo" width="180">
                        </el-table-column>
                        <el-table-column prop="Nombre" label="Nombre" width="180">
                        </el-table-column>
                        <el-table-column prop="DNI" label="DNI" width="180">
                        </el-table-column>
                        <el-table-column prop="fechaRegistro" label="Fecha Registro" width="200">
                        </el-table-column>
                    </el-table>

                    <el-divider></el-divider>
                </el-tab-pane>
            </el-tabs>
        </el-main>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                activeName: 'first',
                fullscreenLoading: false,
                pregunta1: {
                    acepto: 1,
                    result: []
                },
                pregunta2: {
                    fechaInicio: '',
                    fechaFin: '',
                    letra: '',
                    percent: 0,
                    usuarios: []
                },
                pregunta3: {
                    disfraces: [
                        {value: '1'},
                        {value: '2'},
                        {value: '3'},
                        {value: '4'},
                        {value: '5'},
                    ],
                    disfraz: '1',
                    usuarios: []
                },
                pregunta4: {
                    usuarios: []
                }
            };
        },
        methods: {
            handleClick(tab, event) {
                // console.log(tab, event);
                // console.log(tab.index);
                tab.index == 3 ? this.preguntaCuatro() : '';
            },
            async preguntaUno(){
                this.fullscreenLoading = true;

                var url = '/preguntaUno/'
                const res = await this.callGetApi('get', url, {
                    'acepto' : this.pregunta1.acepto
                })

                if (res.status == 200) {
                    // console.log(res);
                    this.pregunta1.result   =   res.data;
                } else {
                    console.log(res);
                }
                this.fullscreenLoading  =   false;
            },
            async preguntaDos(){
                if(!this.pregunta2.fechaInicio) return this.notification('warning', 'La Fecha Inicio, es un campo obligatorio')
                if(!this.pregunta2.fechaFin) return this.notification('warning', 'La Fecha Fin, es un campo obligatorio')
                if(!this.pregunta2.letra) return this.notification('warning', 'Ingrese una letra, es un campo obligatorio')

                this.fullscreenLoading = true;

                var url = '/preguntaDos/'
                const res = await this.callGetApi('get', url, {
                    'fechaInicio' : this.pregunta2.fechaInicio,
                    'fechaFin' : this.pregunta2.fechaFin,
                    'letra' : this.pregunta2.letra
                })

                if (res.status == 200) {
                    console.log(res);
                    this.pregunta2.percent  =   res.data.percent
                    this.pregunta2.usuarios =   res.data.usersByLeter
                } else {
                    console.log(res);
                }
                this.fullscreenLoading  =   false;
            },
            async preguntaTres(){
                if(!this.pregunta3.disfraz) return this.notification('warning', 'Debe seleccionar un código de disfraz, es un campo obligatorio')

                this.fullscreenLoading = true;

                var url = '/preguntaTres/'
                const res = await this.callGetApi('get', url, {
                    'disfraz' : this.pregunta3.disfraz
                })

                if (res.status == 200) {
                    console.log(res);
                    this.pregunta3.usuarios =   res.data
                } else {
                    console.log(res);
                }
                this.fullscreenLoading  =   false;
            },
            async preguntaCuatro(){
                this.fullscreenLoading = true;

                var url = '/preguntaCuatro/'
                const res = await this.callGetApi('get', url)

                if (res.status == 200) {
                    // console.log(res);
                    this.pregunta4.usuarios   =   res.data;
                } else {
                    console.log(res);
                }
                this.fullscreenLoading  =   false;
            },
        }
    }
</script>

<style scoped>

</style>
